body{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    background-color: black;
    color: white;
    overflow: hidden;
}
.main{
    display: flex;
    height: 100vh;
    padding: 0.5rem;
}
.sidebar{
    width: 340px;
    background-color: black;
    border-radius: 1rem;
}
.main-content{
    flex: 1;
    background-color: #121212;
    overflow: auto;
    border-radius: 1rem;
    padding: 0 1.5rem 0 1.5rem;

}
.music-player{
    width: 100%;
    height: 72px;
    position: fixed;
    bottom: 0px;
    background-color: black;
}
.sidebar .nav-div{
    height: 100px;
    width: 305px;
    border-radius: 1rem;
    background-color: #121212;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0.5rem 0.75rem;
}
.nav-option{
    line-height: 2.4rem;
    opacity: 0.7;
    padding: 0.5rem 0.75rem;
    margin-right: 0.25rem;
}
.nav-option i{
    font-size: 1.25rem;
}
.nav-option a{
    font-size: 1rem;
    padding: 0.75rem;
}
.nav-option:hover{
    opacity: 1;

}
.library{
    background-color: #121212;
    border-radius: 1rem;
    margin: 0.5rem;
    padding: 0.5rem 0.75rem;
}
.lib-options{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.lib-options img{
    height: 1.25rem;
    width: 1.25rem;
}
.icons{
    font-size: 0.25rem;
    display: flex;
}
.iconns i{
    margin: 1rem;
}

.box{
    background-color: #232323;
    color: white;
    height: 8rem;
    margin: 0.5rem 0 1.75rem 0;
    padding: 0.75rem 1rem;
    border-radius: 1rem;
}
.box-p1{
    font-size: 1rem;
    font-weight: 500;
}
.box-p2{
    font-size: 0.7rem;
    opacity: 0.9;
}
.badge{
    border-radius: 100px;
    background-color: white;
    padding: 0.25rem 1rem;
    height: 2rem;
    border: none;
    font-weight: 700;
}
.nav-bar{
    position: sticky;
    top: 0;
    background-color: #121212;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0 0 1rem;
}
.badge:hover{
    height: 2.2rem;
}
.nav-item{
  margin-right: 0.5rem;  
}
@media(max-width:1000px){
    .hide{
        display: none;
    }
}
.cards-container{
    display: flex;
    flex-wrap: wrap;
}

.card{
    background-color: #232323c9;
    height: 260px;
    width: 150px;
    border-radius: 0.4rem;
    margin: 1.5rem;
    padding: 1rem;
}
.card img{
    height:150px ;
    width: 150px;
}
.card-title{
    font-weight: bolder;
}
.foot-panel{
    display: flex;
    justify-content: space-between;
}
.about{
    height: 288px;
    width: 598px;
    padding:4rem 0 0  4rem;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    line-height: 0.5rem;
}
.line{
    opacity: 0.7;
}
.line:hover{
    text-decoration: white underline;
}
.social{
    margin-top: 8rem;
    margin-left: 2.5rem;
    width: 150px;
    display: flex;
    justify-content: space-evenly;
}
.social i{
    opacity: 0.7;
    font-size: 1.5rem;


}
.social i:hover{
    opacity: 1;
    font-size: 2rem;
}

.foot-panel2{
    height: 150px;
    width: 1000px;
    border-top: 1px solid rgb(255,255,255) ;
    padding: 1rem 0 0 1rem;
    display: flex;
    justify-content: space-between;
    font-size: 0.0.75rem;
    opacity: 0.5;

}
.music-player{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.album{
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pic{
    height: 4rem;
    width: 4rem;
    margin: 1.3rem 1rem 1rem 1.3rem;
}
.text{
    font-size: 0.85rem;
}
.song-icon{
    display: flex;
    justify-content: space-between;
    height: 1.5rem;
    margin-left: 1.5rem;
    width: 8rem;
    opacity: 0.7;
}
.song-icon:hover{
    opacity: 1;
}

.player{
    width: 50%;

}
.player-icon{
    height: 1rem;
    margin: 0.8rem;
    opacity: 0.7;
    
}
.player-icon:hover{
    opacity: 1;
}
.player-controls{
    display: flex;
    justify-content: center;
    align-items: center;
}
.playback-bar{
    display: flex;
    justify-content: center;
    align-items: center;
}
.progress-bar{
    width: 70%;
    appearance: none;
}
.progress-bar{
    background-color: transparent;
    cursor: pointer;
}
/* the following code is to set the styling for the slider */
.progress-bar::-webkit-slider-runnable-track{
    background-color: #ddd;
    height: 0.2rem;
    border-radius:100px;

}
.progress-bar::-webkit-slider-thumb{
    appearance: none;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background-color: #1bd760;
    margin-top:-6px;
}

.controls{
    width: 25%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 1rem;
    }
.ctrl-icon {
    height: 1.5rem;
    width: 1.5rem;
    opacity: 0.7;
}
.ctrl-icon:hover{
    opacity: 1;
}